

<img src="images/MuseO!.png"

<div class="container">
<ul>
<% @museums.each do | museum | %>
  <li>
    <p><strong>"<%= museum.name %>",  
    <%= museum.specialty %>, 
    <%= museum.url %></p>
    <img class="museum-image" style="width: 50%;" src="<%= museum.image %>">
  </li>
<% end %>
</ul>
</div>