<h1>Add New Museum</h1>
<form method="POST" action="/museums">
  Title: <br>
  <input type="text" name="museum[name]" value="Name"><br>
  Museum: <br>
  <input type="text" name="museum[specialty]" value="Specialty"><br>
  <input type="submit" value="Submit">
</form>