<div class="container-fluid center-div">
  <h1>Add New Museum</h1>
    <form method="POST" action="/museums">
    Name: <br>
      <input type="text" name="museum[name]" placeholder="Museum Name"><br>
    Specialty: <br>
      <input type="text" name="museum[specialty]" 
    placeholder="Specialty or Category"><br>
    Image: <br>
      <input type="text" name="museum[image]" 
    placeholder="Image (url only)"><br>
    Description: <br>
      <input type="text" name="museum[description]" 
    placeholder="Description"><br>
    url: <br>
      <input type="text" name="museum[url]" 
    placeholder="Website"><br><br>
      <input type="submit" value="Submit">
    </form>
</div>