<div class="container-fluid">
  <div class="center-div">

  <h1>Add New Museum</h1>
  <form method="POST" action="/museums">
  Name: <br>
    <input type="text" name="museum[name]" value="Museum Name"><br>
  Specialty: <br>
    <input type="text" name="museum[specialty]" 
  value="Specialty or Category"><br>
  Image: <br>
    <input type="text" name="museum[image]" 
  value="Image (url only)"><br>
  Description: <br>
    <input type="text" name="museum[description]" 
  value="Description"><br>
  url: <br>
    <input type="text" name="museum[url]" 
  value="Website"><br><br>
    <input type="submit" value="Submit">
  </form>
  </div>
</div>