body {
  margin: 0;
}

ul {
 list-style-type:none; 
}

h1 {
  font-family: Garamond;
  font-size: larger;
  color: #00aecc;
}

.museum-index {
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 35%;
  height: 100%;
  border-color: #692b0a;
  border-radius: 20px;
}

.show-museum {
  font-size: larger;
  color: white;
}

#showimage {
	margin-left: auto;
  margin-right: auto;
}

.museum-image {
	width: 50%;
  padding: 1px;
  border: 20px solid #692b0a;
  background-color: 692b0a;
}


.centered {
    margin: 0 auto;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#museo {
  width: 100%;
}

.center-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  height: 350px;
  background-color: #692b0a;
  border-radius: 20px;
}

.show-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 350px;
  background-color: #692b0a;
  border-radius: 20px;
}

.btn.btn-success {
    color: #46d1ff;
    background-color: #141a14;
    background-image: linear-gradient(to bottom, #692b0a, #944741);
    border-color: #944741 #944741 #944741;
}
.btn.btn-success:hover {
    color: #46d1ff;
    background-color: #944741;
    background-image: linear-gradient(to bottom, #944741, #944741);
    border-color: #944741 #944741 #944741;
}



 